<div class="padding">
    <h1 class="padding">About us:</h1>
    <img src="../../assets/pics/onpoint.jpg" style="width:450px;height:250px" class="image">
    <p>בימינו קיימת טכנולוגיה המאפשרת לדעת מה המיקום של כל אדם עם מכשיר חכם בידיו, ובמקרים מסוימים חברות וגורמים שונים מעוניינים לדעת היכן יופיעו לקוחותיהם בזמן מסוים. ולכן הסקנו שאם יש לנו את היסטוריית המיקומים של אדם מסוים אנו מסוגלים לחזות היכן הוא יהיה לפי דפוסי התעבורה שלו.
        פרויקט OnPoint הינו API שמשמש ככלי עוצמתי לחיזוי מקום עתידי. למעשה אנו מציעים שירות לחברות שמעוניינות לחזות היכן הלקוחות שלהם יהיו בעתיד הקרוב. החברות יכולות ליצור חשבון באתר שלנו ובאמצעות מפתח API שאנו נותנים להם, אפשר להתחיל את תהליך איסוף המידע ובשלב מאוחר יותר חיזוי מקום של לקוחותיהם.
        לחיזוי המיקום אנחנו משתמשים במודלים של Machine Learning, שהינה טכנולוגיה עדכנית ושימושית לביצוע משימות מסוג זה. המודלים מאמנים את עצמם לפי היסטוריית המיקומים (Supervised Learning) ולבסוף מתבצע חיזוי מיקום לכל נקודה שתינתן למודל. 
        למעשה הפתרון המוצע מחליף עבודה  של אדם, במקום שהאדם יעבור דרך אלפי נקודות וינסה למצוא דפוסים בכוחות עצמו במשך שעות וימים שלמים, המודלים שלנו עושים את זה בדקות ספורות.</p>
</div>